@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Caveat;
    src: url("../src/dist/font/caveat/Caveat-Medium.ttf");
  }

  @font-face {
    font-family: Poppins;
    src: url("../src/dist/font/poppins/Poppins-Medium.ttf");
  }

  @font-face {
    font-family: PoppinsLight;
    src: url("../src/dist/font/poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: PoppinsThin;
    src: url("../src/dist/font/poppins/Poppins-Thin.ttf");
  }

  @font-face {
    font-family: Bangla;
    src: url("../src/dist/font/bangla/TiroBangla-Regular.ttf");
  }
}

@layer components {
  .inputFont {
    @apply text-[14px] font-[640];
  }
  .buttonElm {
    @apply py-[20px]
    px-[10rem]
    rounded-md
    uppercase
    bg-gray-400
    text-white
    inline-block
    hover:translate-y-[-3px]
    transition-all
    duration-300
    relative
    
    active:translate-y-[-1px];
  }
  .buttonElmSup {
    @apply absolute
    top-0
    left-0
    w-full
    h-full
    rounded-md
    inline-block
    z-[-1]
    transition-all
    duration-300
    bg-gray-400;
  }
}

body {
  margin: 0 auto;
  padding: 0 50px;
  font-family: Poppins, sans-serif;
}
